<!DOCTYPE html>
<html>
<head>
	<title>image icon tab</title>
	<link rel="icon" href="MNE.ico">
</head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>  
 <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script>
  $(document).ready(function() {
    $("#datepicker").datepicker();
  });
  </script>
  <script>
  	$('#time').bootstrapMaterialDatePicker({ date: false });
  </script>
  <!-- new date and time picker -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://rawgit.com/FezVrasta/bootstrap-material-design/master/dist/css/material.min.css" />
		<link rel="stylesheet" href="./css/bootstrap-material-datetimepicker.css" />
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://rawgit.com/FezVrasta/bootstrap-material-design/master/dist/js/material.min.js"></script>
		<script type="text/javascript" src="http://momentjs.com/downloads/moment-with-locales.min.js"></script>
		<script type="text/javascript" src="./js/bootstrap-material-datetimepicker.js"></script>

  <!-- end script -->
  <!-- style newdate -->
<style>
				
			.form-control-wrapper 
			{
				margin: 10px 20px;
			}
			
			
			@media(max-width: 100px)
			{
				.well { margin : 0}
			}
		</style>
  <!-- end -->
  <!-- script -->
  <script>
			(function(i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r;
				i[r] = i[r] || function() {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date();
				a = s.createElement(o),
					m = s.getElementsByTagName(o)[0];
				a.async = 1;
				a.src = g;
				m.parentNode.insertBefore(a, m)
			})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

			ga('create', 'UA-60343429-1', 'auto');
			ga('send', 'pageview');
		</script>

		<script type="text/javascript">
		$(document).ready(function()
		{
			$('#date').bootstrapMaterialDatePicker
			({
				time: false,
				clearButton: true
			});

			$('#time').bootstrapMaterialDatePicker
			({
				date: false,
				shortTime: false,
				format: 'HH:mm'
			});
				});
		</script>
  <!-- end -->
<body>  

<div ng-app="" ng-init="">

<p>Event Title: <input type="text" ng-model="event"></p>
<p>Host:<input type="text" ng-model="host"></p>
<p>Phone:<input type="text" ng-model="phone"></p>
<p>Location Name:<input type="text" ng-model="location"></p>
<p>Address:<input type="text" ng-model="address"></p>
<p>city: <input type="text" ng-model="city" placeholder="city">
state: <input type="text" ng-model="state" placeholder="state">
zipcode: <input type="text" ng-model="zipcode" placeholder="zipcode"></p>
 <form>  date:<input id="datepicker" placeholder="select the date" />
 at <input type="text" placeholder="time"></form>
 <div class="container">
			<div class="row">
				<div class="col-md-2">
					<h2>Time Picker</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<div class="form-control-wrapper">
						<input type="text" id="time" class="form-control floating-label" placeholder="Time">
					</div>
				</div>
				
			</div>
		</div>
<p> {{ event+" "+host+" "+phone+" "+location+" "+address+" "+city+" "+state+" "+zipcode }}</p> 


</div>

</body>
</html>